{% extends "base.html" %}
{% block title %}:: Clientes{% endblock%}
{% load staticfiles %}
{% block flex %}
    <li><img class="fright" src="{% static "images/" %}slider-img/slide5.jpg" alt="">
        <div class="owl-flex-caption-left" style="background:#0064A1 !important;">
          <div class="owl-flex-bg">
            <div class="owl-flex-border-1">
              <div class="owl-slide-text-2 uppertext"><span class="full-text32">Servicios</span></div>
            </div>
          </div>
        </div>
    </li>
{% endblock %}
{% block content %}
  

        <!-- Clients -->
        <div class="columns sixteen">
          <div class="center">
             <img alt="" src="{% static "images/" %}clientes.png" style="margin:0 auto;">
            </div>
        </div>
        <!-- Clientes End -->
        

        
        
{% include "slider.html" %}
{% endblock %}