{% load staticfiles %}
 <!-- Cool Slider -->

        <aside class="wrapper">
         <div class="spacehr"></div>
            <div class="columns sixteen">
                <h3 class="title ident-bot-3"> <span>Productos destacados</span> </h3>
            </div>
            <div class="features">
                <ul class="es-carousel-wrapper" id="carousel1">
                    <li class="es-carousel">
                        <ul class="extra-wrap da-thumbs" style="width: 1930px; margin-left: 0px;">

                            <li style="margin-right: 10px; width: 160px !important;">
                                <img src="{% static "images/" %}productos/1.png" alt="">
                                <article class="da-animate da-slideFromBottom" style="display: block;">
                                    <h5>Agenda diaria</h5>
                                    <span class="link_post">
                                        <a href="/productos/diaria/"></a>
                                    </span> 
                                    <span class="zoom">
                                        <a class="group1 cboxElement" data-rel="hi" href="{% static "images/" %}productos/1-full.png" title=""></a>
                                    </span> 
                                </article>
                            </li>

                            <li style="margin-right: 10px; width: 160px !important;">
                                
                                <img src="{% static "images/" %}productos/2.png" alt="">
                                <article class="da-animate da-slideFromBottom" style="display: block;">
                                    <h5>Agenda de escritorio</h5>
                                    <span class="link_post">
                                        <a href="/productos/escritorio/"></a>
                                    </span> 
                                    <span class="zoom">
                                        <a class="group1 cboxElement" data-rel="hi" href="{% static "images/" %}productos/2-full.png" title=""></a>
                                    </span> 
                                </article>
                            </li>

                            <li style="margin-right: 10px; width: 160px !important;">
                                
                                <img src="{% static "images/" %}productos/3.png" alt="">
                                <article class="da-animate da-slideFromBottom" style="display: block;">
                                    <h5>Agenda presidencial</h5>
                                    <span class="link_post">
                                        <a href="/productos/presidencial/"></a>
                                    </span> 
                                    <span class="zoom">
                                        <a class="group1 cboxElement" data-rel="hi" href="{% static "images/" %}productos/3-full.png" title=""></a>
                                    </span> 
                                </article>
                            </li>

                            <li style="margin-right: 10px; width: 160px !important;">
                                
                                <img src="{% static "images/" %}productos/4.png" alt="">
                                <article class="da-animate da-slideFromBottom" style="display: block;">
                                    <h5>Cuadernos de línea</h5>
                                    <span class="link_post">
                                        <a href="/productos/cuadernos/"></a>
                                    </span> 
                                    <span class="zoom">
                                        <a class="group1 cboxElement" data-rel="hi" href="{% static "images/" %}productos/4-full.png" title=""></a>
                                    </span> 
                                </article>
                            </li>

                            <li style="margin-right: 10px; width: 160px !important;">
                                
                                <img src="{% static "images/" %}productos/5.png" alt="">
                                <article class="da-animate da-slideFromBottom" style="display: block;">
                                    <h5>Cuadernos personalizados</h5>
                                    <span class="link_post">
                                        <a href="/productos/personalizados/"></a>
                                    </span> 
                                    <span class="zoom">
                                        <a class="group1 cboxElement" data-rel="hi" href="{% static "images/" %}productos/5-full.png" title=""></a>
                                    </span> 
                                </article>
                            </li>
                            
                            
                        </ul>
                    </li>
                    <li class="es-nav"><span class="es-nav-prev"></span><span class="es-nav-next"></span></li>
                    <div class="es-nav"><span class="es-nav-prev" style="display: none;"></span><span class="es-nav-next"></span></div>
                </ul>
            </div>
        </aside>
        <!-- Cool Slider END -->